.container {
    margin: auto;
    width: 400px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px 20px;
    background-color:darkgray;
    border-radius: 20px;
}

.time-container {
    width: 70%;
    height: 50%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgrey;
}

.btn-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

button {
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: dimgrey;
    border: 0cap;
}

